/**
 * CSS of Behind the Scenes page
 *
 * @author  Lorenzo Longo <Lorenzo.Longo@kahosl.be>
 *
 */

 /* ===========================================
   Main Content / Header
   =========================================== */

h2 {
	width: 35%;
	margin: 3rem 50rem 3rem 0rem;
	padding: 0rem 3rem 0rem 6rem;
	font-family: "open sans";
	font-size: 3.2rem;
	text-transform: uppercase;
	color: white;
	display: inline-block;
	float: left;
	border-radius: 10px;
	background-color: #669999;
}

 /* ===========================================
   Main Content / Paragraph
   =========================================== */

#paragraph h3 {
	font-family: 'House M.D.';
}

#paragraph {
	width: 91%;
	margin: 0rem 4.5rem 0rem 4.5rem;
	font-family: 'Courier New';
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: #CCCC99;
	border-width: 0px 0px 2px 0px;
	border-style: dotted;
	border-color: #CCCC99;
}

 /* ===========================================
   Main Content / Images
   =========================================== */

.image {
	width: 18.2%;
	position:relative;
	margin: 3rem 0rem 0rem 4.5rem;
	float: left; 
	border-width: 5px;
	border-style: solid;
	border-color: #669999;
}

.image:hover .text {
	width: 99%;
	position:absolute;
	top: 1px;
	left: 1px;
	float: left;
	display: initial;
	background-color: rgba(0, 0, 0, 0.3);
}

 /* ===========================================
   Main Content / Text
   =========================================== */

.text {
	display: none;
}

.text h4 {
	margin: 0rem;
	padding: 1rem;
}

.text p {
	margin: 0rem;
	padding: 1rem;
	line-height: 1.6rem;
}

.text a {
	font-family: Tahoma;
	text-decoration: none;
	color: #CCCC69;
	opacity: 1;
}

#moreLink a {
	margin: 1rem 0rem 1rem 45rem;
	padding: 0rem 1rem 0rem 1rem;
	font-family: Helvetica; 
	font-size: 1.2rem;
	color: white;
	float: left;
}