/**
 * CSS of Contactpage
 *
 * @author  Lorenzo Longo <Lorenzo.Longo@kahosl.be>
 *
 */

/* ===========================================
   Main Content / Form
   =========================================== */

form {
	width: 71.5%;
	margin: 0rem 0rem 5rem 0rem;
	float: left;
}

label {
	display: none;
}

legend {
	display: none;
}

fieldset {
	margin: 0rem;
	padding: 0rem;
	border: none;
}

input {
	font-family: 'Courier New';
	font-size: 1.5rem;
	padding: 0.5rem;
	border-radius: 5px;
	border: none;
}

textarea {
	width: 64%;
	padding: 0.5rem;
	resize: none; 
	border-radius: 5px;
	border: none;
}

input[type="text"] {
	width: 64%;
}

input[type="submit"] {
	margin-left: 38rem;
}	

#dtfix {
	display: none;
}

/* ===========================================
   Main Content / Form Error
   =========================================== */

input ~ span:after { 
	content: attr(title);
	margin-left: 0.5rem; 
	opacity: 0;
	color: red;
	transition: opacity 2s 2s;
}

input:invalid ~ span:after {
	opacity: 1;
}

input[type="text"]:invalid:focus {
	color: red;
}

/* ===========================================
   Main Content 
   =========================================== */

h2 {
	width: 23%;
	margin: 3rem 50rem 3rem 0rem;
	padding: 0rem 3rem 0rem 6rem;
	font-family: "open sans";
	font-size: 3.2rem;
	text-transform: uppercase;
	color: white;
	display: inline-block;
	float: left;
	border-radius: 10px;
	background-color: #669999;
}

h3 {
	margin: 0rem 0rem 0rem 4rem;
	font-family: 'Courier New';
	font-size: 2rem;
	text-transform: uppercase;
	color: #cccc69;
	float: left;
}

section p {
	font-family: 'Courier New';
	font-size: 1.3rem;
	color: #cccc69;
	float: left;
}

#call p {
	width: 19.5%;
	padding: 2rem;
	float: left;
	background-color: rgba(102, 153, 153, 0.6);
}

#call2 p {
	width: 19.5%;
	float: left;
	padding: 2rem;
	border-width: 2px 0px 2px 0px;
	border-style: dotted;
	border-color: #669999;
}