/**
 * CSS helper (hacks)
 *
 * @author  Lorenzo Longo <Lorenzo.Longo@kahosl.be>
 *
 */

.structural {
	position: absolute;
	left: -9999px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.hidden {
  position: absolute !important;
  visibility: hidden !important;
  z-index: -1 !important;
}