/**
 * CSS of indexpage
 *
 * @author  Lorenzo Longo <Lorenzo.Longo@kahosl.be>
 *
 */

/* ===========================================
   Main Content / Aside
   =========================================== */

#aside {
	width: 22%;
	margin-left: 4rem;
	float: left;
}

#aside1 {
	padding-top: 2rem;
	border-bottom: 0.1rem solid #669999;
	opacity: 1;
}

#aside1 p {
	font-family: "House M.D.";
	line-height: 2.2rem;
	color: #CCCC99;
}

#text1 {
	font-size: 2.9rem;
	color: #669999;
}

#text2 {
	font-size: 1.2rem;
	color: #669999;
}

#text3 {
	font-size: 1.7rem;
	color: #669999;
}

#aside2 {
	border-bottom: 2px solid #669999;
	opacity: 1;
}

#aside2 p {
	margin: 0.4rem 0rem 0.4rem 0rem;
}

#aside2 a {	
	padding-left: 1rem;
}

#aside3 {
	font-family: "Courier New";
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #CCCC99;
	border-bottom: 2px dotted #669999;
	opacity: 1;
}

#aside3 span {
	font-size: 2rem;
	color: #FF3333;
}

.blockquote {
	margin: 0.4rem 0rem 0.4rem 0rem;
}

#blockquote {
	padding: 0.4rem 0rem 0.4rem 0rem;
	border-width: 2px 0px 2px 0px;
	border-style: dotted;
	border-color: #669999;
}

/* ===========================================
   Main Content / Video
   =========================================== */

video {
	width: 67%;
	height: auto;
	margin: 2rem 0rem 0rem 2rem;
	float: left;
}

/* ===========================================
   Main Content / News
   =========================================== */

#article {
	width:69.5%;
	margin: 1rem 0rem 0rem 2rem;
	display: inline-block;
}

#article img {
	width: 100%;
	float: right;
}

#article p {
	width: 46.5%;
	font-family: Georgia;
	font-size: 1.1rem;
	line-height: 1.3rem;
	color: #CCCC99;
	float: left;
	background-color: rgba(102,153,153,0.3);
}

#paragraph {
	padding: 2rem 0rem 0rem 2rem;
}

#article a {
	margin: 0rem 2rem 1rem 0rem;
	font-size: 1.3rem;
	text-decoration: underline;
	color: #CCCC99;
	float: right;
}

#article a:hover {
	margin: 0rem 2rem 1rem 0rem;
	font-size: 1.3rem;
	text-decoration: underline;
	color: #669999;
	float: right;
}

/* ===========================================
   Main Content / Images
   =========================================== */

#images {
	width: 90%;
	margin: 0rem 0rem 3rem 5rem;
	display: inline-block;
}

#images img {
	margin-left: 2rem;
	border-radius: 20px;
}

#images img:hover {
	border-radius: 20px;
	opacity: 0.6;
}