/**
 * CSS of Newspage
 *
 * @author  Lorenzo Longo <Lorenzo.Longo@kahosl.be>
 *
 */

 /* ===========================================
   Main Content
   =========================================== */

h2 {
	width: 26%;
	margin: 3rem 50rem 3rem 0rem;
	padding: 0rem 3rem 0rem 6rem;
	font-family: "open sans", serif;
	font-size: 3.2rem;
	text-transform: uppercase;
	color: white;
	display: inline-block;
	float: left;
	border-radius: 10px;
	background-color: #669999;
}

#heading h2 {
	padding: 0rem 6rem 0rem 6rem;
}

/* ===========================================
   Main Content / News
   =========================================== */

#news {
	width: 100%;
}

.news {
	width: 75%;
	margin-left: 4rem;
	margin-bottom: 1rem;
	font-family: "Courier New", serif;
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: #CCCC99;
	float: left;
	border-width: 2px 0px 2px 0px;
	border-style: dotted;
	border-color: #669999;
}

.news h3 {
	font-family: "House M.D.", serif;
	font-size: 1.5rem;
	line-height: 2.8rem;
}

#image img {
	display: none;
}

/* ===========================================
   Main Content / Videos
   =========================================== */

video {
	width: 75%;
	height: auto;
	margin-left: 4rem;
	margin-bottom: 1rem;
	float: left;
}

.videotext {
	width: 75%;
	margin: 0rem 0rem 2rem 4rem;
	float: left;
	color: #CCCC99;
	background-color: rgba(102,153,153,0.3);
}

.videotext p {
	margin: 0rem 0rem 0rem 0rem;
	padding: 0rem 2rem 2rem 2rem;
	font-family: "Courier New", serif;
	font-size: 1.3rem;
	line-height: 1.8rem;
}

.videotext h3 {
	margin: 0rem 0rem 0rem 0rem;
	padding: 2rem 0rem 0rem 2rem;
	font-family: "Courier New", serif;
	text-transform: uppercase;
	font-size: 3rem;
}

@media(min-width: 58.625em){

	h2 {
		width: 10%;
	}
	.news {
		width: 26.5%;
	}
	#image img {
		display: initial;
		width: 26%;
		float: left;
		margin: 4.7rem 0rem 3.7rem 4rem;
		border-radius: 150px;
	}
	video {
		width: 42%;
		margin-bottom: 0rem;
	}
	.videotext {
		width: 42%;
	}
}