/**
 * Css for photo.html page
 *
 * @author  Lorenzo Longo <Lorenzo.Longo@kahosl.be>
 *
 */

 /* ===========================================
   Main Content
   =========================================== */

section img {
	width: 86%;
	margin: 4rem 0rem 0rem 6rem; 
	border-width: 10px;
	border-style: solid;
	border-color: #669999;
	float: left;
}

section nav {
	margin: 0rem 0rem 4rem 5.5rem;
	float: left;
}

section a {
	padding-left: 10.5rem;
	padding-right: 10.5rem;
	font-size: 1.3rem;
	color: #CCCC69;
	opacity: 1;
	padding: 1rem 11rem 1.1rem 10rem;
	text-align: center;
}

#left {
	border-radius: 15px 0px 0px 15px;
}

#right {
	border-radius: 0px 15px 15px 0px;
}
