/**
 * Css for photo.html page
 *
 * @author  Lorenzo Longo <Lorenzo.Longo@kahosl.be>
 *
 */

 /* ===========================================
   Main Content
   =========================================== */
h2 {
	width: 36%;
	margin: 3rem 50rem 3rem 0rem;
	padding: 0rem 3rem 0rem 6rem;
	font-family: "open sans", serif;
	font-size: 3.2rem;
	text-transform: uppercase;
	color: white;
	display: inline-block;
	float: left;
	border-radius: 10px;
	background-color: #669999;
}

section img {
	width: 90%;
	height: auto;
	margin: 4rem 0rem 0rem 0.5rem; 
	border-width: 10px;
	border-style: solid;
	border-color: #669999;
	float: left;
}

section p {
	width: 86%;
	margin-left: 2rem;
	margin-bottom: 1rem;
	font-family: "Courier New", serif;
	font-size: 1.3rem;
	line-height: 1.8rem;
	color: #CCCC99;
	float: left;
	border-width: 2px 0px 2px 0px;
	border-style: dotted;
	border-color: #669999;
}

section span {
	font-family: "House M.D.", serif;
	font-size: 1.5rem;
	line-height: 2.8rem;
}

section nav {
	margin: 0rem 0rem 4rem 0.5rem;
	float: left;
}

section a {
	padding-left: 10.5rem;
	padding-right: 10.5rem;
	font-size: 1.3rem;
	color: #CCCC69;
	opacity: 1;
	padding: 1rem 11rem 1.1rem 10rem;
	text-align: center;
}

@media(min-width: 42em){

	h2 {
		width: 13%;
	}
	section img {
		width: 86%;
		margin: 4rem 0rem 0rem 6rem; 
	}
	section p {
		width: 75%;
		margin-left: 6rem;
	}
	section nav {
		margin: 0rem 0rem 4rem 5.5rem;
	}
	#left {
		border-radius: 15px 0px 0px 15px;
	}
	#right {
		border-radius: 0px 15px 15px 0px;
	}
}
