/**
 * Styles for buildup
 *
 * @author  Lorenzo Longo <Lorenzo.Longo@kahosl.be>
 *
 */

/* ===========================================
   Common
   =========================================== */
html {
	font-size: 0.625em;
}

body > * {
	font-size: 1.3rem;
}

@font-face {
	font-family: "House M.D.";
	src: url(font/House_M_D_Font_by_iTed.eot) format("eot"),url(font/House_M_D_Font_by_iTed.woff) format("woff"),url(font/House_M_D_Font_by_iTed.ttf) format("truetype"),url(font/House_M_D_Font_by_iTed.svg#HouseM.D.) format("svg");
	font-weight:normal;
	font-style:normal;
}

body {
	background-size: cover;
	background-image: url(images/background_house.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; 
}

/* ===========================================
   Wrapper
   =========================================== */

.wrapper {
	min-width: 32rem;
	max-width: 98rem;
	margin: auto;
}

/* ===========================================
   Main Content
   =========================================== */

.content {
	width: 100%;
	background-color:rgba(99,99,99,0.3);
	border-radius: 50px;
	margin-bottom: 2rem;
	float: left;
}

/* ===========================================
   Logo
   =========================================== */

.logo {
	width: 10%;
	text-indent: -9999px;
	background-image: url(images/logo_house2.png);
	background-size: 25rem;
	padding-bottom: 4.5rem;
	padding-right: 22rem;
	background-repeat: no-repeat;
	margin: 5.4rem 0rem 5.5rem 5rem;
}

/* ===========================================
   Main Menu / Header
   =========================================== */

nav ul {
	width: 100%;
	padding: 1rem 0rem 0.3rem 0rem;
	text-align: center;
	background-color: #669999;
	opacity: 0.7;
}

ul li {
	margin-bottom: 2.1rem;
	font-family: "House M.D.", serif;
	font-size: 1rem;
	display: block;
}

.menu a {
	color: #CCCC69;
	opacity: 1;
	padding: 1.2rem 14.1rem 1rem 14.3rem;
	text-align: center;
}

.active a {
	color: #FF3333;
	background-color: #CCCC99;
	padding: 1rem 13.5rem 0.7rem 14.5rem;
}

ul a:hover {
	color: #FF3333;
	background-color: #CCCC99;
}


/* ===========================================
   Footer
   =========================================== */

footer {
	font-family: "courier new", serif;
	width: 100%;
	display: inline-block;
	border-radius: 50px;
	background-color: rgba(99,99,99,0.3);
}

.footer1 {
	display: none;
}

.footer1 img {
	width: 100%;
}

.footer2 {
	width: 85%;
	margin: 4rem 0rem 0rem 2rem;
	padding-right: 0rem;
	font-size: 2.4rem;
	text-align: center;
	color: #CCCC99;
	float: left;
	border-width: 2px;
	border-style: dotted;
	border-color: #669999;
}

.footer2 span {
	padding-bottom: 1rem;
	border-width: 0px 0px 2px 0px;
	border-style: dotted;
	border-color: #669999;
}

.links {
	width: 70%;
	margin: 0rem 0rem 0rem 2rem;
	padding-right: 2.4rem;
	padding-left: 2.5rem;
	font-size: 1.5rem;
	color: #CCCC99;
	float: left;
	border-width: 0px 2px 0px 2px;
	border-style: dotted;
	border-color: #669999;
}

.contactLinks {
	width: 86.5%;
	margin: 0rem 3rem 3rem 2rem;
	float: left;
}

.contact p {
	margin: 1rem 0rem 3rem 0rem;
	padding: 1rem 3.5rem 1rem 3.5rem;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.8rem;
	color: #CCCC69;
	border-radius: 5px;
	background-color: rgba(102,153,153, 0.7);
	float: left;
}

.contact a {
	font-size: 2rem;
	line-height: 2.7rem;
	text-decoration: underline;
	color: #CCCC69;
	float: left;
}

.contact a:hover {
	color: #FF3333;
	float: left;
}

.IMDB a {
	padding: 1rem 6.5rem 1rem 1.5rem;
	font-size: 2.4rem;
	text-transform: uppercase;
	text-decoration: underline;
	color: #CCCC69;
	border-width: 2px 0px 2px 0px;
	border-style: dotted;
	border-color: #669999;
	float: left;
}

.IMDB a:hover {
	color: #FF3333;
	float: left;
}

@media(min-width: 64em){

	.logo {
		width: 50%;
		background-size: 35rem;
		padding-bottom: 5.5rem;
		margin: 5.4rem 0rem 5.5rem 34rem;
	}
	nav ul {
		padding: 1rem 0rem 1rem 0rem;
		border-radius: 15px;
	}
	ul li {
		display: inline;
		border-left: 1px solid #669999;
	}
	.menu a {
		padding: 1.2rem 8.6rem 1.1rem 8.6rem;
	}
	.active a {
		padding: 1.2rem 8.6rem 1.1rem 8.6rem;
	}
	.left {
		border-radius: 15px 0px 0px 15px;
	}
	.right {
		border-radius: 0px 15px 15px 0px;
	}
	.footer1 {
		display: initial;
		width: 22%;
		margin: 1rem 0rem 2rem 1rem;
		float: left;
	}
	.footer2 {
		width: 18.3%;
		margin: 3.5rem 0rem 2rem 1rem;
		padding-right: 2rem;
		border-width: 0px 2px 0px 0px;
	}
	.links {
		width: 23.5%;
		margin: 3.5rem 0rem 2rem 2rem;
		padding-right: 2rem;
		padding-left: 0rem;
		border-width: 0px 2px 0px 0px;
	}
	.contactLinks {
		width: 23.5%;
		margin: 3.5rem 3rem 0rem 1rem;
	}
	.contact p {
		margin: 0rem 0rem 3rem 0rem;
		padding: 1rem 0.5rem 1rem 0.5rem;
	}
	.contact a {
		float: initial;
	}
	.IMDB a {
		padding: 1rem 1.5rem 1rem 1.5rem;
	}
}